body {
  background: linear-gradient(
  309deg,
  rgb(184, 150, 248) 34%,
  rgb(173, 245, 115) 80%);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  margin:0;
  padding:0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}