body {
  background: linear-gradient(
  309deg,
  rgb(119, 201, 87) 34%,
  rgb(194, 170, 211) 80%);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}