body {
  background: linear-gradient(
  309deg,
  rgb(127, 87, 201) 34%,
  rgb(173, 245, 115) 80%);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}