
.button-div {
    width: 170px;
    height: 100px;
    margin-left: 300px;;
    display: inline;
    background-color: green;
   
}

.flip-btn-2 > button {
    background-color: rgb(48, 62, 248);
    margin-left: 320px;
}




