.jumbotron {
    background: linear-gradient(
    309deg,
    rgb(114, 85, 216) 30%,
    rgb(130, 155, 136) 70%);
    width: 100%;
    height: 200px;
    color: rgb(45, 238, 45);
  }

  .logo {
      width: 300px;
  }