.jumbotron {
  background: linear-gradient(
  309deg,
  rgb(114, 85, 216) 30%,
  rgb(130, 155, 136) 70%);
  height: 175px;
  color: rgb(45, 238, 45);
  
}

.logo {
    width: 300px;
    padding-bottom: 30px;
}

.container-full-bg {
  background-size: cover; 
  height: 100%;
  width: 100%;
}
