.event-div {
    width: 800px;
    background-color: rgb(235, 243, 252);
}

.media {
    width: 600px;
    margin-right: 20px;
}

.main {
    width: 100%;
}



.attendees {
    width: 150px;
}

.attending-dropdown > button {
    width:150px;
    margin-right: 20px;
}




