.event-div {
    width: 670px;
    background-color: rgb(213, 229, 248);
    margin-left: 320px;
    display: flex;
    justify-content: center;
    padding-right: 150px;
    margin-right: 200px;
}

.container {
    width: 1000px;
    margin-right: 100px;
}

.media-main > li {
    width: 700px;
    margin-right: 100px;
}

.main {
    width: 100%;
}

.d-flex {
    margin-right: 170px;
}




.attend {
    width: 390px;
    padding-right: 50px;
}

.attending-dropdown > button {
    width:120px;
    margin-bottom: 30px;
    margin-left: 90px;
    background-color: rgb(122, 91, 233);
    color: black;
    font-size: 15px;
}

.attending-dropdown > button:hover {
    background-color: rgb(173, 255, 47);
}

.attendees-btn {
    width: 1000px;
    padding-right: 900px;
}