@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.page-wrapper {
  margin: 100%;
}

.card-element{
  height: 100%;
  width: 100%
}

.event-card {
   font-family: 'Quicksand', sans-serif;
    border-radius: 50px;
}

.card:hover {
  box-shadow: 5px 5px 15px 5px #333232;
    transform: scale(1.01, 1.01);
}

.event-title {
    font-weight: bolder;
    font-size: 32px;
    letter-spacing: 2pt;
    color:#110338;
}

.event-description {
  font-size: 14pt;
  color:#110338;
}

.event-date, .event-time, .event-location {
  font-size: 10pt;
  color: rgb(56, 55, 55);
  text-align: left;
}


.sign-up-btn {
  position: absolute; 
  bottom: 20px;
  right: 20px;
  
}

.card-img{
  width: 100%!important;
  height: 240px!important;
  object-fit: cover;
}

