
.event-div {
    width: 700px;
    background-color: rgb(213, 229, 248);
    margin-left: 220px;
    display: flex;
    justify-content: center;
    padding-right: 220px;
    font-family: 'Quicksand', sans-serif;
}

.media {
    width: 500px;
    margin-right: 400px;
}

.d-flex {
    margin-right: 570px;
}

.host {
    width: 900px;
    padding-right: 540px;
}

.media-list {
    height: 300px;
    
}

.media-main {
    height: 300px;
}

.attending-dropdown > button {
    width:120px;
    margin-bottom: 30px;
    margin-left: 290px;
    background-color: rgb(122, 91, 233);
    color: black;
    font-size: 15px;
}

.attending-dropdown > button:hover {
    background-color: rgb(173, 255, 47);
}

.media-object {
    margin-right: 40px;
}