.form-group {
    background-color: rgb(173, 255, 47);
}

.column {
    width: 200px;
    height: 90px;
}

.form {
    margin-top: 10px;
}

.label {
    padding-left: 10px;
    padding-top: 7px;
}

.login-div {
    width: 300px;
    height: 350px;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 150px;
}

.animate__animated {
    display: inline-block;
    background-color: rgb(122, 91, 233);
    margin-left: 100px;
    margin-right: 50px;
    margin-bottom: 50px;
    width: 300px;
    height: 450px;
    padding-top: 60px;

}

.signup-h2 {
    margin-left: 70px;
    color: white;
}

.or-p {
    margin-left: 120px;
    color: white;
}

.signup-btn {
    width: 200px;
    color: black;
    margin-bottom: 40px;
    margin-left:30px;
    background-color: rgb(173, 255, 47);
}

.sign-in-image {
    width: 245px;
    height: 35px;
}

.facebook {
    background-color: rgb(122, 91, 233);
}

.google {
    background-color: rgb(122, 91, 233);
}

