.auto-scroll {
    
    /* background-color: rgb(16, 153, 177); */
    margin-top: 40px;
    margin-right: 100px;
    width: 1150px;
    height: 300px;
   
}

p {
    font-size: 20px;
}
h1 {
    color: red;
}

.carousel-item {
    width: 400px;
    height: 425px;
    padding-left: 80px;
}

