

.carousel {
  max-width: 800px;
}

.carousel-item {
    width: 500px;
    height: 400px;
    padding-left: 25px;
    padding-right: 10px;

    background-position: 100% top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow-x: hidden;
  overflow-y: hidden;
  background-size: 100%;
   width: 100%;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }

  .event-name {
    background-color: rgb(216, 218, 219);
    opacity: 0.6;
    color: rgb(2, 12, 102);
    font-weight: bolder;
    font-size: 60px;
    font-family: 'Salsa', cursive;
  }

  .descript {
    background-color: rgb(216, 218, 219);
    opacity: 0.6;
    color: black;
    font-weight: bolder;
    font-size: 25px;;
  }

 

