p {
    font-size: 20px;
}
h1 {
    color: red;
}

.carousel-item {
    width: 500px;
    height: 400px;
    padding-left: 10px;
    padding-right: 10px;

    background-position: 100% top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow-x: hidden;
  overflow-y: hidden;
  background-size: 100%;
   width: 100%;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }

