@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.create-event-form {
    font-family: 'Quicksand', sans-serif;
    width: 750px;;
    background-color: rgb(213, 229, 248);
    border-radius: 10px;
    align-self: center;
    padding: 25px;
    border-color: black, 5px;
    margin-top: -11px;
}

.create-event-btn {
    position: relative;
    margin-bottom: 0%;
}

.form-header {
    background-color: transparent;
    height: 20%; 
    color: black;
}

.form-elements {
    padding: 24px;
    border-radius: 50px;
}

.event-created-alert {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    font-size: 24px;
    background-color: F2F2F2
}