


.dropdown >button {
    width: 200px;
    background-color: rgb(122, 91, 233);
    color: black;
    font-size: 25px;
}

.nav-btn {
    margin-left: 55px;
}

.navbar-dropdown-menu {
    width: 200px;
}